.title{
    display: grid;
    justify-content: center;
    color: blueviolet;
}
img{
    width: 100%;
    height: 100%;
 
}
.row{
    height: 300px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.row> div{
    flex: 1;
}
.collage-column img{
    height: calc( (100% - 5px)/2 );
}
.squear-shap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

@media screen and (max-width: 576px) {
    .row{
        flex-direction: column;
        height: auto;
    }
    .squear-shap{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 576.1px) and (max-Width: 992px) {
    .row{
        flex-direction: column;
        height: auto; 
    }
    .squear-shap{
        grid-template-columns: 1fr;
    }   
}